/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // Font
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.card {
  padding: 20px;
  background-color: white;
  border: 1px solid #044abc;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

mat-card {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 100%;
  padding: 20px;
  background-color: white;
}

/* Header Title */
mat-card-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #3f51b5;
  text-align: center;
  margin-bottom: 20px;
}

/* Flex Container Styling */
.flex-container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
}

/* Form Styling */
.form {
  flex: 1;
  min-width: 350px;
  padding: 20px;
  border-radius: 12px;
}

.form-title {
  font-size: 2rem;
  font-weight: 600;
  color: #555;
  margin-bottom: 15px;
  text-transform: uppercase;
}

mat-form-field {
  width: 100%;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

/* Responsive Design */
@media (max-width: 768px) {
  .flex-container {
    flex-direction: column;
  }

  .form,
  .table-container {
    min-width: 100%;
  }
}

#maTable th,
#maTable td {
  vertical-align: middle;
}

#maTable {
  width: 100%;
  border-collapse: collapse;
  table-layout: auto; // Ajustement automatique pour la réactivité

  th,
  td {
    border: 1px solid #293289; // Bordures fines comme celles d'Excel
    // padding: 10px;
    text-align: left;
    font-size: 14px;
    text-transform: uppercase;
  }

  th {
    // background: linear-gradient(135deg, #044ABC, #36BAFE); // Vert Excel pour l'entête
    background-color: #293289;
    border: 1px solid #ffffff;
    color: white;
    font-weight: bold;
    // text-align: center;
  }

  tr:nth-child(even) {
    background-color: #3776b6; // Couleur rayée, vert clair
  }

  tr:nth-child(odd) {
    background-color: #ffffff; // Fond blanc pour les lignes impaires
  }

  tr:hover {
    background-color: #b6d7f7; // Survol avec un vert plus clair
  }

  td {
    background-color: white;
  }
  td .mat-icon {
    vertical-align: middle;
    font-size: 20px;
  }

  td:first-child {
    font-weight: bold; // Optionnel : rendre la première cellule de chaque ligne en gras
  }

  // Responsive design pour petits écrans (mobiles/tablettes)
  @media (max-width: 768px) {
    th,
    td {
      padding: 8px; // Moins d'espace pour les petites résolutions
      font-size: 12px;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2; // Alternance de couleur différente pour les petits écrans
    }

    tr:hover {
      background-color: #d9f7d9; // Effet survol plus subtil pour les petits écrans
    }
  }

  // Ajout d'un effet au survol sur les cellules
  td:hover {
    background-color: #e0f7e0; // Survol plus lumineux pour les cellules
  }
}
// CLASS
.bg-success {
  background-color: #1c731d;
  color: rgb(62, 136, 19);
}

.bg-danger {
  background-color: #bc0416;
  color: white;
}

// matDialog
#matDialogTitle {
  padding: 10px;
  background: #044abc;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}
#matDialogFooter {
  padding: 10px;
  background: rgb(55, 9, 9);
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
}

// IMAGE
#img-round1 {
  height: 100px;
  width: auto;
  border-radius: 50%;
}
// IMAGE

// CARDS TRANSITION
.card-hover {
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}
.card-hover:hover {
  transform: translateY(-5px);
  box-shadow: 0 0.75rem 1.5rem rgba(4, 74, 188, 0.1);
}

